 <h1>Olá handlebars</h1>
 <p>O nome do usuário é {{user.name}} {{user.surname}}</p>
 <h2>{{palavra}}</h2>
 {{#if auth}}
    <p>
        Vc está autenticado, <a href="/dashboard">clique aqui</a> para acessar a página de membros!
    </p>
 {{/if}}