<h1>Dashborad</h1>
<a href="/">Voltar</a>
{{!-- preciso colocar qual item esta se repetindo pq podemos enviar mais de um. e se referimos ao item atual com o this --}}
<ul>
    {{#each items}}
        <li>#01 - {{this}}</li>
    {{/each}}
</ul>